 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#landing, #contact {
    width: 100%;
    height: 100vh;
}

#landing {
    background-image: url(./Files/book\ cover1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: blanchedalmond;
    height: 10vh;
}

header h3 { 
    /* position: absolute; */
    margin-top: 15px;
    /* left: 0; */
    margin-left: 15px;
    padding-top: 6px;
} 

.search {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;  
   
}
   
.search input {
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 18px;
    color: black;
    text-align: center;
    margin-right: 10px;
    background-color: blanchedalmond;
    
}

.searchbtn {
height: 35px;
padding-left: 10px;
background-color: blanchedalmond;
}

#contact {
    position: relative;
    background-image: url(./Files/clear.1.jpg);
}

footer {
    height: 100px;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer h2 {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    /* margin-top: -0.5em; */
}

.nav {
    overflow: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.nav a {
    color: blanchedalmond;
    margin-right: 30px;
    text-decoration: none;
    display: inline-block;
}



footer h4, p {
    margin-left: auto;
}